spring:
  application:
    name: paste
  datasource:
    url: jdbc:sqlite:paste.db
    driver-class-name: org.sqlite.JDBC
  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    hibernate:
      ddl-auto: update

app:
  base-url: http://localhost:8080

otel:
  logs:
    exporter: none
  exporter:
    otlp:
      endpoint: http://jaeger:4318
