name: Job - Build(Java)

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false
      - name: Build
        run: ./gradlew compileJava --no-daemon
      - uses: actions/cache/save@v4
        with:
          path: build/
          key: build-${{ github.sha }}
