name: On Push - Docs

on:
  push:
    branches:
      - master
    paths:
      - 'spec.yml'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy-docs:
    uses: ./.github/workflows/job-deploy-docs.yml
